.rpm {
  background: white;
  border-radius: 16px;
  padding: 24px;
  overflow: hidden;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 16px;
  }

  .skeleton {
    flex: 1;
    width: 100%;
    background: lightgray;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100%;
  }
}
