@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  font-family: 'Poppins', sans-serif;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;

  background: #f3f3f3;

  .wrapper {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      width: 100%;
    }
  }
}

iconify-icon {
  font-size: 24px;
}